<h1 class="home_welcome">Welcome to Spark Gathering !</h1>
<%=video_tag("home_welcome.mp4", :autoplay=>true, :loop=>true, :muted=>true, :height=>'100%', :width=>'100%')%>
<%=audio_tag("spark_music.mp3", autoplay: true, :loop=>true)%>
